@model BankInsurancePoliciesTypeViewModel
@{
    ViewBag.Title = Model.BankInsurancePoliciesTypeId > 0 ? "Update Insurance Policies Type" : "Add Insurance Policies Type";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.BankInsurancePoliciesTypeId > 0)
                                {
                                    <h4 class="card-title">Update Bank Insurance Policies Type</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Bank Insurance Policies Type</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.BankInsurancePoliciesTypeId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.InsurancePoliciesType, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.InsurancePoliciesType, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.InsurancePoliciesType)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.InsurancePoliciesTypeCode, new { @class = "form-label required", @onkeypress = "return CoditechCommon.AvoidSpacing()" })
                                        @Html.TextBoxFor(x => x.InsurancePoliciesTypeCode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.InsurancePoliciesTypeCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.InsuranceTypeMajor, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownSelectedValue = Model.InsuranceTypeMajorEnumId.ToString(),
                                   DropdownName = "InsuranceTypeMajorEnumId",
                                   GroupCode = DropdownCustomTypeEnum.InsuranceTypeMajor.ToString(),
                                   IsDisabled = Model.BankInsurancePoliciesTypeId > 0,
                                   IsRequired = true,
                               })
                                        @Html.ValidationMessageFor(x => x.InsuranceTypeMajorEnumId)

                                        @if (Model.BankInsurancePoliciesTypeId > 0)
                                        {
                                            @Html.HiddenFor(x => x.InsuranceTypeMajorEnumId)
                                        }
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



