@model BankProductViewModel
@{
    ViewBag.Title = Model.BankProductId > 0 ? "Update Bank Product" : "Add Bank Product";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "CentreCode", DropdownSelectedValue = Model.CentreCode };
    DropdownViewModel accSetupGLDropdown = new DropdownViewModel() { DropdownType = DropdownCustomTypeEnum.GetAccSetupGL.ToString(), DropdownName = "BankProductGLMappingId", DropdownSelectedValue = Convert.ToString(Model.BankProductGLMappingId), IsCustomDropdown = true };
    DropdownViewModel accInteresetPayableGLAccountDropdown = new DropdownViewModel() { DropdownType = DropdownCustomTypeEnum.GetAccSetupGL.ToString(), DropdownName = "InteresetPayableGLAccountMappingId", DropdownSelectedValue = Convert.ToString(Model.InteresetPayableGLAccountMappingId), IsCustomDropdown = true };
    DropdownViewModel accInteresetReceivableGLAccountDropdown = new DropdownViewModel() { DropdownType = DropdownCustomTypeEnum.InteresetReceivableGLAccount.ToString(), DropdownName = "InteresetReceivableGLAccountMappingId", DropdownSelectedValue = Convert.ToString(Model.InteresetReceivableGLAccountMappingId), IsCustomDropdown = true };
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.BankProductId > 0)
                                {
                                    <h4 class="card-title">Update Bank Product</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Bank Product</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.BankProductId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.CentreCode, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                                        @Html.ValidationMessageFor(x => x.CentreCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.ProductName, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @onkeypress = "return CoditechCommon.AvoidSpacing()" })
                                        @Html.ValidationMessageFor(x => x.ProductName)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.BankProductGLMappingId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", accSetupGLDropdown)
                                        @Html.ValidationMessageFor(x => x.BankProductGLMappingId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.AccountType, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownSelectedValue = Model.AccountTypeEnumId.ToString(),
                                   DropdownName = "AccountTypeEnumId",
                                   GroupCode = DropdownCustomTypeEnum.AccountType.ToString(),
                                   IsRequired = true,
                                   ChangeEvent = "BankProduct.GetDisabledDropdownOfAccPayableAndAccRecievable()"
                               })
                                        @Html.ValidationMessageFor(x => x.AccountTypeEnumId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.InteresetPayableGLAccountMappingId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", accInteresetPayableGLAccountDropdown)
                                        @Html.ValidationMessageFor(x => x.InteresetPayableGLAccountMappingId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.InteresetReceivableGLAccountMappingId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", accInteresetReceivableGLAccountDropdown)
                                        @Html.ValidationMessageFor(x => x.InteresetReceivableGLAccountMappingId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.RateOfIntrest, new { @class = "form-label required", @onkeypress = "return CoditechCommon.AvoidSpacing()" })
                                        @Html.TextBoxFor(x => x.RateOfIntrest, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.RateOfIntrest)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.MethodOfCalculating, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownSelectedValue = Model.MethodOfCalculatingEnumId.ToString(),
                                   DropdownName = "MethodOfCalculatingEnumId",
                                   GroupCode = DropdownCustomTypeEnum.MethodOfCalculatingInterest.ToString(),
                                   IsRequired = true,
                               })
                                        @Html.ValidationMessageFor(x => x.MethodOfCalculatingEnumId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.InterestCalculationsPeriodicity, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownSelectedValue = Model.InterestCalculationsPeriodicityEnumId.ToString(),
                                   DropdownName = "InterestCalculationsPeriodicityEnumId",
                                   GroupCode = DropdownCustomTypeEnum.InterestCalculationsPeriodicity.ToString(),
                                   IsRequired = true,
                               })
                                        @Html.ValidationMessageFor(x => x.InterestCalculationsPeriodicityEnumId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.InitialDepositAmount, new { @class = "form-label required", @onkeypress = "return CoditechCommon.AvoidSpacing()" })
                                        @Html.TextBoxFor(x => x.InitialDepositAmount, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.InitialDepositAmount)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.MinimumBalanceAmount, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.MinimumBalanceAmount, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.MinimumBalanceAmount)
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/Cancel?centreCode=@Model.CentreCode" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/coditech/CoOperativeBank/BankProduct.js"></script>
