@model BankMemberShareCapitalViewModel
@{
    ViewBag.Title = Model.BankMemberShareCapitalId > 0 ? "Update Bank Member Capital" : "Add Bank Member Capital";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string css = Model.BankMemberId > 0 ? "col-lg-10" : "col-lg-12";
    string actionName = Model.BankMemberShareCapitalId > 0 ? "UpdateBankMemberShareCapital" : "CreateBankMemberShareCapital";
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
    keyValuePairs.Add("BankMemberId", Model.BankMemberId.ToString());
    keyValuePairs.Add("PersonId", Model.PersonId.ToString());
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                @Html.Partial("~/Views/CoOperativeBank/BankMember/_MemberDetailsSidePannel.cshtml", keyValuePairs)
            </div>
            <div class="@css">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.BankMemberShareCapitalId > 0)
                                {
                                    <h4 class="card-title">Update Member Share Capital</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Member Share Capital</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.BankMemberShareCapitalId)
                            @Html.HiddenFor(m => m.BankMemberId)

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.NumberOfShares, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.NumberOfShares, new { @class = "form-control", @onkeypress = "return CoditechCommon.ValidNumeric()" }) 
                                        @Html.ValidationMessageFor(x => x.NumberOfShares)
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.AmountInvested, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.AmountInvested, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AmountInvested)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.SharePrice, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.SharePrice, new { @class = "form-control"/* , @onkeypress = "return CoditechCommom"  */})
                                        @Html.ValidationMessageFor(x => x.SharePrice)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.PurchaseDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.PurchaseDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(x => x.PurchaseDate)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.PaymentModeEnumId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownSelectedValue = Model.PaymentModeEnumId.ToString(),
                                   DropdownName = "PaymentModeEnumId",
                                   GroupCode = DropdownCustomTypeEnum.PaymentMode.ToString(),
                                   IsDisabled = Model.PaymentModeEnumId > 0,
                                   IsRequired = true,
                               })
                                        @Html.ValidationMessageFor(x => x.PaymentModeEnumId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.TranscationReference, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.TranscationReference, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.TranscationReference)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.Remarks, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.Remarks, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Remarks)
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.IsActive, new { @class = "form-label" })
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            function initSimpleDatepicker(selector) {
                const today = new Date();
                const minDate = new Date(today.getFullYear() - 2, 0, 1); // Jan 1, two years ago
                const maxDate = new Date(today.getFullYear() + 2, 11, 31); // Dec 31, two years ahead

                $(selector).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()",
                    showButtonPanel: true,
                    autoSize: true,
                    closeText: "Clear",
                    currentText: "Today",
                    yearRange: "-2:+2",
                    minDate: minDate,
                    maxDate: maxDate,
                    beforeShow: function (input, inst) {
                        setTimeout(function () {
                            var buttonPane = $(inst.dpDiv).find(".ui-datepicker-buttonpane");
                            buttonPane.find(".ui-datepicker-current").off("click").on("click", function () {
                                var today = new Date();
                                $(selector).datepicker("setDate", today);
                                $(selector).change(); // Optional: trigger change event
                            });
                        }, 1);
                    },
                    onClose: function () {
                        if ($(window.event?.srcElement).hasClass("ui-datepicker-close")) {
                            $(this).val(""); // Clear the input
                        }
                    }
                }).addClass("datepicker");
            }

            // Initialize all datepickers
            initSimpleDatepicker("#PurchaseDate");
        });
    </script>
    }


