@model BankMemberViewModel
@{
    ViewBag.Title = "Update Other Details";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
    keyValuePairs.Add("BankMemberId", Model.BankMemberId.ToString());
    keyValuePairs.Add("PersonId", Model.PersonId.ToString());
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                @Html.Partial("~/Views/CoOperativeBank/BankMember/_MemberDetailsSidePannel.cshtml", keyValuePairs)
            </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.BankMemberId > 0)
                                {
                                    <h4 class="card-title">Update Member Other Details: @Model.FirstName @Model.LastName</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Member</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("UpdatMemberOtherDetail", controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.BankMemberId)
                            @Html.HiddenFor(m => m.PersonId)
                            @Html.HiddenFor(m => m.FirstName)
                            @Html.HiddenFor(m => m.LastName)
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.MemberCode, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.MemberCode, new { @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(x => x.MemberCode)
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.PANCardNumber, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.PANCardNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PANCardNumber)
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.AadharCardNumber, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.AadharCardNumber, new { @class = "form-control", @onkeypress = "return CoditechCommom" })
                                        @Html.ValidationMessageFor(x => x.AadharCardNumber)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.JoiningDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.JoiningDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(x => x.JoiningDate)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.AccountStatusEnumId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownSelectedValue = Model.AccountStatusEnumId.ToString(),
                                   DropdownName = "AccountStatusEnumId",
                                   GroupCode = DropdownCustomTypeEnum.AccountStatus.ToString(),
                                   IsRequired = true,
                               })
                                        @Html.ValidationMessageFor(x => x.AccountStatusEnumId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.IsActive, new { @class = "form-label" })
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List?SelectedCentreCode=@Model.CentreCode" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function ()
        {
            // Joining Date Datepicker
            $("#JoiningDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()",
                language: "en",
                autoSize: true,
                onSelect: function () {
                    var joiningDate = $(this).datepicker('getDate');
                    console.log("Joining Date selected:", joiningDate);
                }
            });
        });
    </script>
}


